.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  background: linear-gradient(135deg,#4a6cf7,#6a85f1);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links a, .nav-links button {
  margin-left: 20px;
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links span {
  background: #ffbd59;
  padding: 2px 7px;
  border-radius: 50%;
  margin-left: 5px;
  color: #000;
}

.nav-links a:hover, .nav-links button:hover {
  color: #ffbd59;
}

.user {
  margin-left: 15px;
}
